<mat-card>
  <mat-tab-group mat-align-tabs="end">
    <mat-tab label="Search">
      <mat-card>
        <mat-card-title>Search User</mat-card-title>

        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="3:1">
            <mat-grid-tile rowspan="2">
              <div class="div">
                <form class="example-form">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>User</mat-label>
                    <input
                      type="text"
                      placeholder="Pick one"
                      aria-label="User"
                      matInput
                      [(ngModel)]="user"
                      name="user"
                    />
                    <!-- [matAutocomplete]="auto" -->
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="userDetails = null; user = null"
                    >
                      <mat-icon>cancel</mat-icon>
                    </button>
                    <!-- <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="
                let option of filteredOptions | search: 'login':user | async
              "
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete> -->
                  </mat-form-field>
                </form>
                <button
                  mat-raised-button
                  color="primary"
                  class="srchBtn"
                  (click)="searchUser()"
                >
                  Search
                </button>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="user">
                <mat-card
                  class="example-card"
                  *ngIf="userDetails != null"
                  class="example-card"
                  (click)="openDialog(userDetails)"
                >
                  <mat-card-title-group style="min-width:'335px'">
                    <mat-card-title>{{ userDetails.name }}</mat-card-title>
                    <mat-card-subtitle>
                      <div>Followers : {{ userDetails.followers }}</div>
                      <div>Following : {{ userDetails.following }}</div>
                    </mat-card-subtitle>
                    <img mat-card-lg-image src="{{ userDetails.avatar_url }}" />
                  </mat-card-title-group>
                  <mat-card-content> </mat-card-content>
                </mat-card>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
        <mat-card-footer>
          <!-- {{userDetails | json}} -->
        </mat-card-footer>
      </mat-card>
    </mat-tab>
    <mat-tab label="History" (click)="getHistory()">
      <mat-card style="min-height: 500px;">
        <mat-card-title>Searched Users</mat-card-title>
        <mat-list *ngIf="history.length > 0">
          <div mat-subheader></div>
          <mat-action-list>
            <mat-list-item *ngFor="let hist of history">
              <mat-icon
                style="color: red;"
                (click)="delHist(hist)"
                mat-list-icon
                >delete</mat-icon
              >
              <div
                mat-line
                (click)="openDialog(hist)"
                [ngStyle]="{ cursor: hist.success ? '' : 'not-allowed' }"
              >
                <span> {{ hist.login }} - </span>
                <span>
                  {{ hist.success ? 'User Found' : 'No Such User Found' }}</span
                >
              </div>
            </mat-list-item>
          </mat-action-list>
        </mat-list>
        <mat-card-subtitle *ngIf="history.length == 0"
          >No Records Exist</mat-card-subtitle
        >
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-card>
